@import '~@craftcms/sass/mixins';

.smc-compose-share__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.smc-compose-share__account-switcher {
  background-color: $grey050;
  flex-shrink: 0;
  padding: 24px;
}

.smc-compose-share__body {
  flex-grow: 1;
}

.smc-compose-share__buttons {
  justify-content: space-between;
}
