<div class="data smc-entry-share-counter" id="entry-share-counter">
  <h5 class="heading smc-entry-share-counter__heading">{{ 'Shares' | t('social-media-connect') }}</h5>
  <div id="entry-share-counter-value" class="value smc-entry-share-counter__value">
    <span class="smc-entry-share-counter__value-counter">{{ count }}</span>
    <button type="button" id="entry-share-counter-btn" class="btn smc-entry-share-counter__value-btn" data-icon="ellipsis" title="{{ 'Show all shares' | t('social-media-connect') }}"></button>
  </div>
</div>
